In [1]:
from sqlite3 import Cursor
from selenium import webdriver
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as urReq
import requests, mysql, pymongo, time, os
import mysql.connector as conn

In [2]:
    
class mysqlConnection:
    """
    Class for mysql query selection, table creation, table schema
    
    Keyword arguments:
    hostname -- hostname of mysql
    username -- username of mysql user
    password -- password"""
    
    def __init__(self,hostname: str,username: str, password: str):
        self.hostname = hostname
        self.username = username
        self.password = password
        
    def mydbConnect(self):
        """
        Connection to MySQL Database
        Return: connection string to console
        """
        try:
            self.mydb = conn.connect(host= self.hostname,user= self.username,passwd = self.password)
            return self.mydb
        except:
            return "Not connected"
        
    def createdatabase(self,dbname: str):
        """
        Create new Database in MySQL, if does not exists previously in mysql. No two databases can have one name. 
        
        Keyword arguments:
        dbname -- as unique name for the database
        Return: True if success(if created a new database)
                Existed,True (if database not created because it existed previously, use given database if existed)
        """
        
        
        try:
            self.cursor = self.mydb.cursor()
            self.cursor.execute("create database IF NOT EXISTS {}".format(dbname))
            self.cursor.execute('use {}'.format(dbname))
            return True
        
        except MySQLInterfaceError:
            self.cursor.execute('use {}'.format(dbname))
            return ("Existed",True)
        
    
    def createtablewithschema(self,args,tablename):
        """
        Create Table in the database with given schemas as arguments
        
        Keyword arguments:
        args  = Schemas for table enclosed in parenthesis as single string
        tablename  = tablename
        Return: True if success
        """
        try:
            self.cursor.execute('create table {} {}'.format(tablename,args))
            return True
        except MySQLInterfaceError as err:
            return ("Something went wrong",err)
    
    def drop(self,dbname = None,tname = None):
        """
        Drop extra table or Database created. 
        
        Keyword arguments:
        dbname -- Name of the Database to be deleted (Optional)
        tname -- Name of the Table to be deleted (Optional)
        Return: True if success
        """
        
        if dbname is not None:
            try:
                self.cursor.execute("drop database {}".format(dbname))
                return True
            except MySQLInterfaceError:
                return "Database does not exists"
        
        elif tname is not None:
            try:
                self.cursor.execute("drop table IF EXISTS {} RESTRICT".format(tname))
                return True
            except MySQLInterfaceError:
                return "Table does not exists"
        else:
            pass
        
    def insertintotable(self,tablename,values):
        """
        insert values into table, keep values as single string enclosed with parentheses
        
        Keyword arguments:
        tablename -- as table name
        values -- as values to be inserted for single row
        Return: True if success
        """
        try:
            self.cursor.execute("insert into {} values {}".format(tablename,values))
            self.mydb.commit()
            return True
        
        except MySQLInterfaceError as err:
            return ("Something went wrong",err)
    
    def mysqlcommands(self,command: str):
        """
        for any other command used in mysql, just enter the command string format 
        
        Keyword arguments:
        command -- mysql command in single string 
        Return: values returned
        """
        try:
            self.cursor.execute(command)
            self.mydb.commit()
            return True
        
        except MySQLInterfaceError as err:
            return ("Something went wrong",err)

In [3]:
a = mysqlConnection('localhost','root','Shekhar123#')

In [4]:
a.mydbConnect()

In [5]:
a.createdatabase('shekharTEST2')

True

In [6]:
a.createtablewithschema('(sno int,name varchar(10),class varchar(10))',tablename='shkehartable')

True

In [69]:
# def fwa(*args):
#     for name in args:
#         print(name)

In [71]:
# fwa( ('anand','shekhar','chalu','ldki'))

('anand', 'shekhar', 'chalu', 'ldki')

In [31]:
a.insertintotable('shkehartable',"(1,'anand','mtech')")

True

In [12]:
a.mysqlcommands("insert into shkehartable values (1,'anand','mtech')")

In [18]:
a.mysqlcommands("insert into shkehartable values (1,'anand','mtech')")

True

In [9]:
import mysqlquery

In [11]:
mc = mysqlConnection('localhost','root','Shekhar123#')

In [13]:
mc.mydbConnect()

In [28]:
mc.createdatabase('ineuronpythonprojectdb')

True

In [19]:
mc.createtablewithschema('(id int,videotitle varchar(255),totalviews varchar(255),videourl varchar(255),thumbnail varchar(255))',tablename='youtuberstable')

True

In [34]:
mc.drop(tname='youtuberstable')

True

In [33]:
mc.insertintotable('youtuberstable',"(47,'Announcing Job Guaranteed Big Data Bootcamp @iNeuron Intelligence @E-Learning Bridge','12K views','https://www.youtube.com/watch?v=DIvvHPO1Tyo','None')")

True